NET "clk"	LOC = "V10" | IOSTANDARD = "LVCMOS33";   #Sch name = GCLK
Net "clk" TNM_NET = sys_clk_pin;	TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

NET "DatoOut<0>"         LOC = "U16" | IOSTANDARD = "LVCMOS33";   #Sch name = LD0
NET "DatoOut<1>"         LOC = "V16" | IOSTANDARD = "LVCMOS33";   #Sch name = LD1
NET "DatoOut<2>"         LOC = "U15" | IOSTANDARD = "LVCMOS33";   #Sch name = LD2
NET "DatoOut<3>"         LOC = "V15" | IOSTANDARD = "LVCMOS33";   #Sch name = LD3
NET "DatoOut<4>"         LOC = "M11" | IOSTANDARD = "LVCMOS33";   #Sch name = LD4
NET "DatoOut<5>"         LOC = "N11" | IOSTANDARD = "LVCMOS33";   #Sch name = LD5
NET "DatoOut<6>"         LOC = "R11" | IOSTANDARD = "LVCMOS33";   #Sch name = LD6
NET "DatoOut<7>"         LOC = "T11" | IOSTANDARD = "LVCMOS33";   #Sch name = LD7

NET "DatoIn"          LOC = "T10" | IOSTANDARD = "LVCMOS33";   #Sch name = SW0

NET "R_L"          LOC = "T5"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW7

NET "clear"         LOC = "B8"  | IOSTANDARD = "LVCMOS33";   #Sch name = BTNS