NET "clk"            LOC = "V10" | IOSTANDARD = "LVCMOS33";   #Bank = 2, pin name = IO_L30N_GCLK0_USERCCLK,            Sch name = GCLK
Net "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

NET "seg<0>" LOC = "T17" | IOSTANDARD = "LVCMOS33";   #Sch name = CA
NET "seg<1>" LOC = "T18" | IOSTANDARD = "LVCMOS33";   #Sch name = CB
NET "seg<2>" LOC = "U17" | IOSTANDARD = "LVCMOS33";   #Sch name = CC
NET "seg<3>" LOC = "U18" | IOSTANDARD = "LVCMOS33";   #Sch name = CD
NET "seg<4>" LOC = "M14" | IOSTANDARD = "LVCMOS33";   #Sch name = CE
NET "seg<5>" LOC = "N14" | IOSTANDARD = "LVCMOS33";   #Sch name = CF
NET "seg<6>" LOC = "L14" | IOSTANDARD = "LVCMOS33";   #Sch name = CG

NET "an<0>"  LOC = "N16" | IOSTANDARD = "LVCMOS33";   #Sch name = AN0
NET "an<1>"  LOC = "N15" | IOSTANDARD = "LVCMOS33";   #Sch name = AN1
NET "an<2>"  LOC = "P18" | IOSTANDARD = "LVCMOS33";   #Sch name = AN2
NET "an<3>"  LOC = "P17" | IOSTANDARD = "LVCMOS33";   #Sch name = AN3

NET "Ent<0>" LOC = "T10" | IOSTANDARD = "LVCMOS33";   #Sch name = SW0
NET "Ent<1>" LOC = "T9"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW1
NET "Ent<2>" LOC = "V9"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW2
NET "Ent<3>" LOC = "M8"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW3
NET "Ent<4>" LOC = "N8"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW4
NET "Ent<5>" LOC = "U8"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW5
NET "Ent<6>" LOC = "V8"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW6
NET "Ent<7>" LOC = "T5"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW7

NET "Ent<8>" LOC = "T12" | IOSTANDARD = "LVCMOS33";   #Sch name = JA1
NET "Ent<9>" LOC = "V12" | IOSTANDARD = "LVCMOS33";   #Sch name = JA2  
NET "Ent<10>" LOC = "N10" | IOSTANDARD = "LVCMOS33";   #Sch name = JA3
NET "Ent<11>" LOC = "P11" | IOSTANDARD = "LVCMOS33";   #Sch name = JA4
NET "Ent<12>" LOC = "M10" | IOSTANDARD = "LVCMOS33";   #Sch name = JA7
NET "Ent<13>" LOC = "N9"  | IOSTANDARD = "LVCMOS33";   #Sch name = JA8

NET "reset" LOC = "B8"  | IOSTANDARD = "LVCMOS33";   #Sch name = BTNS
