NET "a<0>" LOC = "T10" | IOSTANDARD = "LVCMOS33";   #Sch name = SW0
NET "a<1>" LOC = "T9"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW1
NET "a<2>" LOC = "V9"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW2
NET "a<3>" LOC = "M8"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW3
NET "b<0>" LOC = "N8"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW4
NET "b<1>" LOC = "U8"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW5
NET "b<2>" LOC = "V8"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW6
NET "b<3>" LOC = "T5"  | IOSTANDARD = "LVCMOS33";   #Sch name = SW7

NET "salida<0>" LOC = "U16" | IOSTANDARD = "LVCMOS33";   #Sch name = LD0
NET "salida<1>" LOC = "V16" | IOSTANDARD = "LVCMOS33";   #Sch name = LD1
NET "salida<2>" LOC = "U15" | IOSTANDARD = "LVCMOS33";   #Sch name = LD2
NET "salida<3>" LOC = "V15" | IOSTANDARD = "LVCMOS33";   #Sch name = LD3

NET "des" LOC = "N11" | IOSTANDARD = "LVCMOS33";   #Sch name = LD5

NET "opera" LOC = "B8"  | IOSTANDARD = "LVCMOS33";   #Sch name = BTNS


