//! **************************************************************************
// Written by: Map P.20160913 on Tue Dec 03 15:36:38 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Sel_display<0>" LOCATE = SITE "D9" LEVEL 1;
COMP "Sel_display<1>" LOCATE = SITE "B8" LEVEL 1;
COMP "DatoA<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "DatoA<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "segmento<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "DatoA<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "segmento<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "DatoA<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "segmento<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "DatoB<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "segmento<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "DatoB<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "segmento<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "DatoB<2>" LOCATE = SITE "V8" LEVEL 1;
COMP "segmento<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "DatoB<3>" LOCATE = SITE "T5" LEVEL 1;
COMP "segmento<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "anodo<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "anodo<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodo<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodo<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "Sel_dato" LOCATE = SITE "C4" LEVEL 1;
SCHEMATIC END;

