//! **************************************************************************
// Written by: Map P.20160913 on Mon Apr 06 00:51:52 2020
//! **************************************************************************

SCHEMATIC START;
COMP "EntrA<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "EntrA<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "EntrA<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "EntrA<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "EntrB<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "EntrB<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "EntrB<2>" LOCATE = SITE "V8" LEVEL 1;
COMP "EntrB<3>" LOCATE = SITE "T5" LEVEL 1;
COMP "segmentos<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "segmentos<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "segmentos<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "segmentos<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "segmentos<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "segmentos<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "segmentos<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "reset" LOCATE = SITE "B8" LEVEL 1;
COMP "anodos<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "anodos<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodos<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodos<3>" LOCATE = SITE "P17" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "u0/aux" BEL "u0/unseg" BEL "u0/cuenta_0" BEL
        "u0/cuenta_1" BEL "u0/cuenta_2" BEL "u0/cuenta_3" BEL "u0/cuenta_4"
        BEL "u0/cuenta_5" BEL "u0/cuenta_6" BEL "u0/cuenta_7" BEL
        "u0/cuenta_8" BEL "u0/cuenta_9" BEL "u0/cuenta_10" BEL "u0/cuenta_11"
        BEL "u0/cuenta_12" BEL "u0/cuenta_13" BEL "u0/cuenta_14" BEL
        "u0/cuenta_15" BEL "u0/cuenta_16" BEL "u0/cuenta_17" BEL
        "u0/cuenta_18" BEL "u0/cuenta_19" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

