//! **************************************************************************
// Written by: Map P.20160913 on Tue Oct 18 16:13:11 2022
//! **************************************************************************

SCHEMATIC START;
COMP "Btn" LOCATE = SITE "D9" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "reset" LOCATE = SITE "B8" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "u2/u5/aux" BEL "u2/u5/unseg" BEL
        "uo/u0/estadoActual_FSM_FFd2" BEL "uo/u0/estadoActual_FSM_FFd1" BEL
        "u1/cuenta_0" BEL "u1/cuenta_1" BEL "u1/cuenta_2" BEL "u1/cuenta_3"
        BEL "u1/cuenta_4" BEL "u1/cuenta_5" BEL "u1/cuenta_6" BEL
        "u1/cuenta_7" BEL "uo/u1/cuenta_24" BEL "uo/u1/cuenta_23" BEL
        "uo/u1/cuenta_22" BEL "uo/u1/cuenta_21" BEL "uo/u1/cuenta_20" BEL
        "uo/u1/cuenta_19" BEL "uo/u1/cuenta_18" BEL "uo/u1/cuenta_17" BEL
        "uo/u1/cuenta_16" BEL "uo/u1/cuenta_15" BEL "uo/u1/cuenta_14" BEL
        "uo/u1/cuenta_13" BEL "uo/u1/cuenta_12" BEL "uo/u1/cuenta_11" BEL
        "uo/u1/cuenta_10" BEL "uo/u1/cuenta_9" BEL "uo/u1/cuenta_8" BEL
        "uo/u1/cuenta_7" BEL "uo/u1/cuenta_6" BEL "uo/u1/cuenta_5" BEL
        "uo/u1/cuenta_4" BEL "uo/u1/cuenta_3" BEL "uo/u1/cuenta_2" BEL
        "uo/u1/cuenta_1" BEL "uo/u1/cuenta_0" BEL "uo/u1/unseg" BEL
        "u2/u5/cuenta_0" BEL "u2/u5/cuenta_1" BEL "u2/u5/cuenta_2" BEL
        "u2/u5/cuenta_3" BEL "u2/u5/cuenta_4" BEL "u2/u5/cuenta_5" BEL
        "u2/u5/cuenta_6" BEL "u2/u5/cuenta_7" BEL "u2/u5/cuenta_8" BEL
        "u2/u5/cuenta_9" BEL "u2/u5/cuenta_10" BEL "u2/u5/cuenta_11" BEL
        "u2/u5/cuenta_12" BEL "u2/u5/cuenta_13" BEL "u2/u5/cuenta_14" BEL
        "u2/u5/cuenta_15" BEL "u2/u5/cuenta_16" BEL "u2/u5/cuenta_17" BEL
        "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

