//! **************************************************************************
// Written by: Map P.20160913 on Sat Apr 04 22:24:43 2020
//! **************************************************************************

SCHEMATIC START;
COMP "EntA<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "EntA<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "EntA<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "EntA<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "segmento<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "EntB<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "segmento<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "EntB<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "segmento<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "EntB<2>" LOCATE = SITE "V8" LEVEL 1;
COMP "segmento<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "EntB<3>" LOCATE = SITE "T5" LEVEL 1;
COMP "segmento<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "segmento<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "segmento<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "sel" LOCATE = SITE "B8" LEVEL 1;
COMP "Anodos<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "Anodos<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "Anodos<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "Anodos<3>" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

